<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>即時口罩地圖</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoma4dB8ZXyRUgonlHmCLMQorqoI2MK38" async defer></script>
    <script type="text/javascript" src="./js/markerclustererplus@4.0.1.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="loading" v-show="loading">
        <h1>即時口罩地圖</h1>
        <p>資料讀取中，請稍候</p>
        <div class="loader"></div>
      </div>
      <div id="map"></div>
      <div class="control_drawer_layer" v-show="drawer" @click.self="drawer = false"></div>
      <div class="control_drawer" :class="{drawer_show : drawer}">
        <div class="control_drawer__info">
          <h1>即時口罩地圖</h1>
          <div class="data_source">
            <p class="source">資料來源：<a>這裡</a></p>
            <p class="date">{{todayInfo.date}}</p>
          </div>
          <div class="hamburger" @click="drawer = !drawer">
            <div class="hamburger__bar1"></div>
            <div class="hamburger__bar2"></div>
            <div class="hamburger__bar3"></div>
          </div>
        </div>
        <div class="control_drawer__reminder">
          <p class="day_of_week">{{todayInfo.dayOfWeek}}</p>
          <p class="id_number">{{todayInfo.lastIdNumber}}</p>
          <img src="./images/banner_announce_fix.png" alt="Reminder">
        </div>
        <div class="control_drawer__search">
          <div class="filter_wrapper">
            <select class="city_filter" v-model="cityFilterCounty" @change="removeSearch(1)">
              <option v-for="cityName in Object.keys(cityList)">{{cityName}}</option>
            </select>
            <div class="arrow1"></div>
            <select class="city_filter" v-model="cityFilterTown" @change="removeSearch">
              <option value="">--請選擇區域--</option>
              <option v-for="town in Object.keys(cityList[cityFilterCounty])">{{town}}</option>
            </select>
            <div class="arrow2"></div>
          </div>
          <label for="search">進階篩選查詢</label>
          <div class="search_wrapper">
            <input type="search" v-model.trim="searchString" id="search" placeholder="請輸入地址" autocomplete="off">
            <i class="fas fa-search"></i>
          </div>
          <div class="filter_wrapper">
              <button @click="maskFilter = 'all'" class="filter_btn" :class="{active: maskFilter=='all'}">所有口罩</button>
              <button @click="maskFilter = 'adult'" class="filter_btn" :class="{active: maskFilter=='adult'}">成人口罩</button>
              <button @click="maskFilter = 'child'" class="filter_btn" :class="{active: maskFilter=='child'}">兒童口罩</button>
            </div>
        </div>
        <div class="control_drawer__list">

          <div class="list_wrapper">
            <div class="list_item" v-for="shop in searchMaskResults" :key="shop.properties.id" @click="moveTo(shop)">
              <p class="list_item__name">{{shop.properties.name}}</p>
              <p class="list_item__address">{{shop.properties.address}}</p>
              <p class="list_item__number">{{shop.properties.phone}}</p>
              <p class="list_item__time">最後更新時間：{{shop.properties.updated}}</p>
              <div class="mask_number">
                <div class="mask_number__item">
                  <span>成人</span>
                  <p>{{shop.properties.mask_adult}}</p>
                </div>
                <div class="mask_number__item">
                  <span>兒童</span>
                  <p>{{shop.properties.mask_child}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <script>
      const googleMap = new Vue({
        el: '#app',
        data: {
          map: null,
          todayInfo:{
            dayOfWeek: "",
            lastIdNumber:"",
            date: "",
          },
          drawer: false,
          hasMaskList: {
            "臺北市": [],
            "新北市": [],
            "基隆市": [],
            "宜蘭縣": [],
            "桃園市": [],
            "新竹市": [],
            "新竹縣": [],
            "苗栗縣": [],
            "臺中市": [],
            "彰化縣": [],
            "南投縣": [],
            "雲林縣": [],
            "嘉義市": [],
            "嘉義縣": [],
            "臺南市": [],
            "高雄市": [],
            "屏東縣": [],
            "澎湖縣": [],
            "花蓮縣": [],
            "臺東縣": [],
            "金門縣": [],
            "連江縣": [],
          },
          cityList: {
            "臺北市": {},
            "新北市": {},
            "基隆市": {},
            "宜蘭縣": {},
            "桃園市": {},
            "新竹市": {},
            "新竹縣": {},
            "苗栗縣": {},
            "臺中市": {},
            "彰化縣": {},
            "南投縣": {},
            "雲林縣": {},
            "嘉義市": {},
            "嘉義縣": {},
            "臺南市": {},
            "高雄市": {},
            "屏東縣": {},
            "澎湖縣": {},
            "花蓮縣": {},
            "臺東縣": {},
            "金門縣": {},
            "連江縣": {},
          },
          searchString: "",
          cityFilterCounty: "臺南市",
          cityFilterTown: "",
          maskFilter: "all",
          loading: true,
        },
        methods: {
          initMap() {
            this.map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 22.9926135, lng: 120.2173127},
              zoom: 14,
              mapTypeId: 'roadmap',
              fullscreenControl: false,
              mapTypeControl: false,
              streetViewControl: false,
              clickableIcons: false,
              styles: [
                {
                  "featureType": "road.highway",
                  "stylers": [
                    {
                      "visibility": "simplified"
                    }
                  ]
                },
                {
                  "featureType": "poi.business",
                  "stylers": [
                    {
                      "visibility": "off"
                    }
                  ]
                },
              ]
            });
          },
          removeSearch(level) {
            if(level===1) this.cityFilterTown = ""
            this.searchString = ""
          },
          async getData() {
            await axios
            .get('https://raw.githubusercontent.com/kiang/pharmacies/master/json/points.json')
            .then(response =>{
              var infowindow = new google.maps.InfoWindow();
              var markers = [];
              response.data.features.forEach( item => {

                //==========設定圖標內容==========
                let marker = new google.maps.Marker({
                  position: {lat:item.geometry.coordinates[1], lng:item.geometry.coordinates[0]},
                  map: this.map,
                });
                markers.push(marker);

                // ==========有剩餘數量才顯示口罩 否則為一般的圖標==========
                if(item.properties.mask_adult || item.properties.mask_child){
                  marker.setIcon('./images/doctor.png')
                } else {
                  marker.setIcon('./images/no_mask.png')
                }

                //==========設定info視窗==========
                marker.addListener('click', (function(marker, item) {
                  return function() {
                    infowindow.setContent(
                      '<div class="info_content">'+
                        '<p class="info_content__name">' + item.properties.name + '</p>'+
                        '<div class="info_content__numbers">'+
                          '<p>' + '成人口罩：' + item.properties.mask_adult + '</p>'+
                          '<p>' + '兒童口罩：' + item.properties.mask_child + '</p>'+
                        '</div>'+
                        '<p class="info_content__address">'+ '地址：' + item.properties.address + '</p>'+
                      '</div>'
                    );
                    infowindow.open(map, marker);
                  }
                })(marker, item));

              // ==========依照行政區分類縣市==========
              if(this.hasMaskList[item.properties.county]){
                this.hasMaskList[item.properties.county].push(item)
              }
              // ==========分類區/鎮==========
              if(this.cityList[item.properties.county] && !this.cityList[item.properties.county][item.properties.town]){
                this.cityList[item.properties.county][item.properties.town] = 1
              }

              });
              // var markerCluster = new MarkerClusterer(this.map, markers, {
              //   gridSize: 60,
              // });
              // console.log(this.cityList);
              setTimeout(()=>{
                this.loading = false;
              },500)
            });
          },
          setInfo() {
            let dayOfWeek = new Date().getDay();
            this.todayInfo.dayOfWeek = "星期"+"日一二三四五六".charAt(dayOfWeek);
            if(dayOfWeek === 0){
              this.todayInfo.lastIdNumber = "任意數字";
            }else{
              this.todayInfo.lastIdNumber = dayOfWeek % 2 ? "1.3.5.7.9" : "0.2.4.6.8";
            };
            this.todayInfo.date = new Date().getFullYear()+ "年" + (new Date().getMonth()+1) + "月" + new Date().getDate() + "日";
          },
          moveTo(item) {
            if(window.innerWidth <= 400){
              this.drawer = false;
            }
            this.map.panTo({lat:item.geometry.coordinates[1], lng:item.geometry.coordinates[0]});
            this.map.setZoom(18);
          }
        },
        computed: {
          searchResults: function() {
            if(this.cityFilterTown === ""){
              if(this.searchString){
                return this.hasMaskList[this.cityFilterCounty].filter(e => e.properties.address.match(this.searchString))
              }
              return this.hasMaskList[this.cityFilterCounty]
            }else{
              if(this.searchString){
                return this.hasMaskList[this.cityFilterCounty].filter(e => e.properties.town == this.cityFilterTown && e.properties.address.match(this.searchString))
              }
              return this.hasMaskList[this.cityFilterCounty].filter(e => e.properties.town == this.cityFilterTown)
            }
          },
          searchMaskResults: function () {
            if(this.maskFilter === 'all'){
              return this.searchResults
            }else if(this.maskFilter === 'adult'){
              return this.searchResults.filter(e => e.properties.mask_adult)
            }else if(this.maskFilter === 'child'){
              return this.searchResults.filter(e => e.properties.mask_child)
            }
          }
        },
        created() {
          this.setInfo();
          window.onload = () => {
            this.initMap();
            this.getData();
          };
        }
      });
    </script>
  </body>
</html>