<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>全台藥局口罩數量查詢</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/markerclustererplus/2.1.4/markerclusterer.min.js"></script> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoma4dB8ZXyRUgonlHmCLMQorqoI2MK38" async defer></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
  </head>
  <body>
    <div id="app">
      <div id="map"></div>
      <div class="control_panel">
        <div class="updatedTime">最後更新時間：</br>{{updatedTime}}</div>
        <button class="btn_check" @click="drawer = true">查看有口罩診所</button>
      </div>
      <div class="bottom_drawer__layer" v-show="drawer" @click.self="drawer = false">
        <transition name="fade">
          <div class="bottom_drawer" v-show="drawer">
            <div class="city_filter">
              <span style="font-size: 20px;">選擇縣市</span>
              <select style="border-radius:5px; font-size: 16px;" v-model="citySelected">
                <option disabled>請選擇</option>
                <option v-for="(list, cityName) in cityList">{{cityName}}</option>
              </select>
            </div>
            <div class="city_list" v-if="citySelected != '請選擇'">
              <table>
                <thead style="background-color:#212529; color:#fff;">
                  <tr>
                    <th>診所</th><th>成人口罩</th><th>兒童口罩</th><th>地址</th><th>電話</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(pharmacy, index) in cityList[citySelected]" :class="{list_item_even : index % 2 == 0}">
                    <td>{{pharmacy.name}}</td>
                    <td>{{pharmacy.mask_adult}}</td>
                    <td>{{pharmacy.mask_child}}</td>
                    <td>{{pharmacy.address}}</td>
                    <td>{{pharmacy.phone}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </transition>
      </div>
      
    </div>
    
    
    <script>
      const googleMap = new Vue({
        el: '#app',
        data: {
          map: null,
          // pharmacyList: [],
          updatedTime:'',
          drawer: false,
          hasMaskList: [],
          cityList: {
            "台北": [],
            "新北": [],
            "基隆": [],
            "宜蘭": [],
            "桃園": [],
            "新竹": [],
            "苗栗": [],
            "台中": [],
            "彰化": [],
            "南投": [],
            "雲林": [],
            "嘉義": [],
            "台南": [],
            "高雄": [],
            "屏東": [],
            "澎湖": [],
            "花蓮": [],
            "台東": [],
            "金門": [],
            "連江": [],
          },
          citySelected: '請選擇'
        },
        methods: {
          initMap() {
            this.map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 22.9958252, lng: 120.2106385},
              zoom: 14.5,
              mapTypeId: 'roadmap',
              fullscreenControl: false,
              mapTypeControl: false,
              streetViewControl: false,
              styles: [
                {
                  "featureType": "road.highway",
                  "stylers": [
                    {
                      "visibility": "simplified"
                    }
                  ]
                }
              ]
            });
            
            // this.map.data.loadGeoJson('https://raw.githubusercontent.com/kiang/pharmacies/master/json/points.json?fbclid=IwAR3gV7DKwPyHAv6Q-5bE_EhwFui4ivWa5PVmvNfWntMEUzLMIdqFChNpHWA')
          },
          getData() {
            axios
            .get('https://raw.githubusercontent.com/kiang/pharmacies/master/json/points.json')
            .then(response =>{
              var infowindow = new google.maps.InfoWindow();
              var markers = [];
              response.data.features.forEach( (item) => {

                //==========顯示更新時間==========
                if(!this.updatedTime && item.properties.updated){
                  this.updatedTime = item.properties.updated
                }

                //==========設定圖標內容==========
                let marker = new google.maps.Marker({
                  position: {lat:item.geometry.coordinates[1], lng:item.geometry.coordinates[0]},
                  map: this.map,
                });
                markers.push(marker);

                //有剩餘數量才顯示口罩 否則為一般的圖標
                // if(item.properties.mask_adult || item.properties.mask_child){
                //   this.hasMaskList.push(item.properties)
                //   marker.setIcon('./image/mask.png')
                // } else {
                //   marker.setIcon('./image/no_mask.png')
                // }

                //==========設定info視窗==========
                marker.addListener('click', (function(marker, item) {
                  return function() {
                    infowindow.setContent(
                      '<div class="info_content">'+
                        '<p class="info_content__name">' + item.properties.name + '</p>'+
                        '<div class="info_content__numbers">'+
                          '<p>' + '成人口罩：' + item.properties.mask_adult + '</p>'+
                          '<p>' + '兒童口罩：' + item.properties.mask_child + '</p>'+
                        '</div>'+
                        '<p class="info_content__address">'+ '地址：' + item.properties.address + '</p>'+
                      '</div>'
                    );
                    infowindow.open(map, marker);
                  }
                })(marker, item));

              });
              var markerCluster = new MarkerClusterer(this.map, markers, {
      imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
    });
              this.classifyCity()
            });
          },
          classifyCity() {
            //==========行政區分類==========
            this.hasMaskList.forEach( (city, index, arr) => {
              if(city.address[0] == '臺'){
                arr[index].address = arr[index].address.replace('臺','台')
              }else if(city.address[0] == '淡'){
                arr[index].address = '新北' + arr[index].address
              }
              //地址的前2字有在cityList內才存入
              if(Object.keys(this.cityList).indexOf(arr[index].address.slice(0,2)) != -1){
                this.cityList[city.address.slice(0,2)].push(city)
              }
            })
          }
        },
        created() {
          window.onload = () => {
            this.initMap();
            this.getData();
          };
        }
      });
    </script>
  </body>
</html>