*{
  box-sizing: border-box;
  font-family: '微軟正黑體';
  margin: 0;
}
body{
  margin: 0;
  height: 100vh;
  width: 100vw;
}
a {
  text-decoration: none;
  color: inherit;
}
table{
  border-collapse: collapse;
  width: 100%;
}
input:focus{
  outline: none;
}
#app, #map{
  width: 100%;
  height: 100%;
}
/* button[title="關閉"]{

} */
.control_panel{
  position: fixed;
  top: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  
  padding: 3px;
  border-radius: 3px;
}
.btn_check{
  border: none;
  border-radius:5px;
  background-color: #666666;
  color: #fff;
  padding: 5px 10px;
  width: 100%;
  font-size: 16px;
}
.control_drawer_layer{
  position: fixed;
  bottom: 0;
  z-index: 50;
  height: 100vh;
  width: 100vw;
  background-color:rgba(0, 0, 0, 0.5);
}
.control_drawer{
  position: fixed;
  left: 0;
  width: 400px;
  height: 100vh;
  background-color: #F7F7F7;
  box-shadow: 2px 0px 10px 4px #47474750;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}


.control_drawer__info{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.control_drawer__info h1{
  color: #707070;
}
.control_drawer__info div{
  text-align: right;
}
.control_drawer__info p.source{
  font-size: 0.8em;
  color: #9F9F9F;
}
.control_drawer__info p.date{
  color: #707070;
  font-weight: 700;
}


.control_drawer__reminder{
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.control_drawer__reminder img{
  width: 100%;
}
.control_drawer__reminder p{
  position: absolute;
}
.day_of_week{
  left: 29px;
  top: 22px;
  font-size: 28px;
  font-weight: bold;
  color: #707070;
}
.id_number{
  left: 30px;
  top: 85px;
  font-size: 28px;
  font-weight: bold;
  color: #EF8A00;
}
.control_drawer__search{
  display: flex;
  flex-direction: column;
}
.control_drawer__search input{
  width: 100%;
  border-radius: 50px;
  box-shadow: none;
  padding: 8px 15px;
  border: 1px solid #707070;
}
.control_drawer__search label{
  margin-bottom: 5px;
  color: #707070;
}
.control_drawer__search i{
  position: absolute;
  padding: 9px 15px;
  right: 15px;
  margin-top: 27px;
  color: #707070;
  font-size: 18px;
  cursor: pointer;
}








.fade-enter-active{
  transition: left .3s ease-in;
}
.fade-enter{
  left: -400px;
}
.fade-enter-to{
  left: 0;
}