*{
  box-sizing: border-box;
  font-family: '微軟正黑體', sans-serif;
  margin: 0;
}
body{
  margin: 0;
  height: 100vh;
  width: 100vw;
}
a {
  text-decoration: none;
  color: inherit;
}
table{
  border-collapse: collapse;
  width: 100%;
}
input:focus{
  outline: none;
}
.control_drawer__list::-webkit-scrollbar {
  display: none;
}
#app, #map{
  width: 100%;
  height: 100%;
}

.control_panel{
  position: fixed;
  top: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  
  padding: 3px;
  border-radius: 3px;
}
.btn_check{
  border: none;
  border-radius:5px;
  background-color: #666666;
  color: #fff;
  padding: 5px 10px;
  width: 100%;
  font-size: 16px;
}
.control_drawer_layer{
  position: fixed;
  bottom: 0;
  z-index: 50;
  height: 100vh;
  width: 100vw;
  background-color:rgba(0, 0, 0, 0.5);
}
.control_drawer{
  z-index: 51;
  position: fixed;
  top: 0;
  left: -400px;
  width: 400px;
  height: 100vh;
  background-color: #F7F7F7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in;
}
.drawer_show{
  left: 0;
  box-shadow: 2px 0px 10px 4px #47474750;

}


.control_drawer__info{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding:0 15px;
}
.control_drawer__info h1{
  color: #707070;
}
.control_drawer__info .data_source{
  text-align: right;
  margin-bottom: 3px;
}
.control_drawer__info p.source{
  font-size: 0.8em;
  color: #9F9F9F;
}
.control_drawer__info p.date{
  color: #707070;
  font-weight: 700;
}
.hamburger{
  position: relative;
  right: -65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40px;
  padding: 8px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #70707095;
  transition: all 0.5s ease-in;
  cursor: pointer;
}
.drawer_show .hamburger{
  right: 0;
  padding: 8px 0;
  background-color: transparent;
}
.drawer_show .hamburger div{
  background-color: #707070;
}
.hamburger__bar1, .hamburger__bar2, .hamburger__bar3{
  border-radius: 10px;
  width: 30px;
  height: 4px;
  background-color: #f7f7f7;
  transition: 0.4s;
  transform-origin: center;
}
.drawer_show .hamburger__bar1{
  -webkit-transform: translate(0px,10px) rotate(-45deg);
  transform: translate(0px, 10px) rotate(-45deg);
}
.drawer_show .hamburger__bar2{
  opacity: 0;
}
.drawer_show .hamburger__bar3{
  -webkit-transform: translate(0px,-10px) rotate(45deg);
  transform: translate(0px, -10px) rotate(45deg);
}


.control_drawer__reminder{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  margin: -5px 0;
}
.control_drawer__reminder img{
  width: 100%;
}
.control_drawer__reminder p{
  position: absolute;
  left: 32px;
  font-size: 30px;
  font-weight: bold;
}
.day_of_week{
  top: 25px;
  color: #707070;
}
.id_number{
  top: 93px;
  color: #EF8A00;
}


.control_drawer__search{
  display: flex;
  flex-direction: column;
  padding:0 15px;
  margin-bottom: 10px;
}
.city_filter{
  width: 175px;
  border-radius: 50px;
  border: 1px solid #707070;
  padding: 8px 15px;
  color: #707070;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}
.arrow1, .arrow2{
  position: absolute;
  top: 13px;
  border: solid #707070;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transition: all 0.3s ease-in;
  transform-origin: center;
  pointer-events:none; 
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrow1 {
  left: 155px;
}
.arrow2 {
  right: 10px;
}
.control_drawer__search label{
  margin-bottom: 5px;
  color: #707070;
  font-weight: 700;
  margin-top: 10px;
}
.search_wrapper{
  border: 1px solid #707070;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: #fff;
  margin-bottom: 10px;
}
.search_wrapper input{
  background-color: transparent;
  border: none;
  flex: 1 1 auto;
  font-size: 16px;
  padding: 9px 0;
  color: #707070;
}
.search_wrapper i{
  padding: 10px 15px;
  cursor: pointer;
  font-size: 19px;
  color: #707070;
}
.filter_wrapper{
  position: relative;
  display: flex;
  justify-content: space-between;
}
.filter_btn{
  width: 110px;
  border-radius: 50px;
  border: 1px solid #707070;
  background-color: #fff;
  padding: 8px 10px;
  color: #707070;
  font-weight: 700;
  font-size: 15px;
  outline: none;
  cursor: pointer;
}
.filter_btn.active {
  background-color: #EF8A00;
  color: #fff;
  border: none;
}

.control_drawer__list{
  flex: 1 1 auto;
  overflow: auto;
  padding:10px 15px 0;
}
.list_item{
  padding: 15px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 1px 1px 15px #70707029;
  color: #707070;
  margin-bottom: 20px;
  cursor: pointer;
}
.list_item>p{
  margin-bottom: 4px;
}
.list_item__name{
  font-size: 18px;
  font-weight: 700;
}
.list_item__address,
.list_item__number,
.list_item__time{
  font-size: 14px;
}
.mask_number{
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mask_number__item{
  background-color:#EF8A00;
  border-radius: 20px;
  width: 155px;
  padding: 0 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;
}
.mask_number__item span{
  margin-top: 1px;
  font-size: 15px;
}
.mask_number__item p{
  font-size: 26px;
  font-weight: 700;
}

.info_content{
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}